.offspring-placeholder {
    height: var(--offspring-height);
    flex-shrink: 0;
}

.offspring-head {
    z-index: -1;
    flex-shrink: 0;
    position: absolute;
    width: 100%;
    height: calc(var(--offspring-height) + var(--root-radius));

    background-color: var(--color-common-magical);
    border-top-left-radius: var(--root-radius);
    border-top-right-radius: var(--root-radius);

    overflow: hidden;
}

.offspring-inner {
    position: absolute;
    left: var(--root-radius);
    height: var(--offspring-height);
    width: calc(100% - 2 * var(--root-radius));

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.offspring-frame {
    position: absolute;
    width: 100%;
    height: var(--root-radius);
    bottom: 0;

    background-color: var(--color-common-general);
    border-top-left-radius: var(--root-radius);
    border-top-right-radius: var(--root-radius);
    box-shadow: 0 0 8px var(--root-shadow-color);
}

.head>.offspring-icon {
    content: url(/chaos.png);
    filter: drop-shadow(0 0 4px var(--color-different-general));
    cursor: grab;
}

.offspring-inner-right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.to-ontop,
.to-notop,
.to-close {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin: 0 3px;
    cursor: pointer;
}

.to-ontop:hover,
.to-notop:hover,
.to-close:hover {
    transform: scale(1.4);
}

.to-ontop {
    background-color: blue;
}
.to-notop {
    background-color: green;
}
.to-close {
    background-color: red;
}