/* box 下方留下空隙 */
.box {
    position: fixed;
    top: var(--root-shadow);
    height: calc(100% - 2 * var(--root-shadow) - var(--root-radius));
    width: calc(100% - 2 * var(--root-shadow));

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

/* body 长度自适应 */
.body {
    width: 100%;
    overflow: auto;
}

/* head 的大小由 font-size 决定 */
.head {
    width: 100%;
    font-size: 1.6em;
    flex-shrink: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.head>img {
    width: 1.6em;
    margin: 0 .4em 0 0;
}

.head>.wom-icon {
    content: url(/wom.png);
}

@media (prefers-color-scheme: dark) {
    .head>.wom-icon {
        content: url(/wow.png);
    }
}