:root {
  --root-shadow: 8px;
  --color-common-general: #f3f3f3;
  --color-common-magical: #e0e0e0;
  --color-different-general: #8b8b8b;
  --color-different-magical: #606060;
  --color-frame-outer: #fff;
  --color-frame-inner: #000;

  /* --color-hover-unhover: #ffea60;
  --color-hover-inner: #fff696;
  --color-hover-outer: #ff8000;
  --color-hover-back: #003000;
  --color-active-unhover: #4100d8;
  --color-active-inner: #0080ff;
  --color-active-outer: #ff8080;
  --color-active-outer: #ffa5ee;
  --color-active-back: #f6ffff; */

  --color-hover-unhover: #4100d8;
  --color-hover-inner: #0080ff;
  --color-hover-outer: #ffa5ee;
  --color-hover-back: #f6ffff;
  --color-active-unhover: #ffea60;
  --color-active-inner: #fff696;
  --color-active-outer: #ff8000;
  --color-active-back: #003000;

  /* --color-hover-back: #f6ffff;
  --color-active-inner: #0080ff;
  --color-active-inner: #004080;
  --color-active-outer: #c2c2ff;
  --color-active-back: #ffe8e8; */

  /* --color-hover-back: #f6ffff;
  --color-active-inner: #ffea00;
  --color-active-inner: #fff696;
  --color-active-outer: #ff8000;
  --color-active-back: #003000; */
}

/*滚动条整体样式*/
::-webkit-scrollbar {
  display: block;
  width: 8px;
  height: 8px;
}

/*滚动条的滑块*/
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--color-different-general);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-different-magical);
}

/*滚动条的轨道*/
::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: var(--color-common-magical);
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
}

/* 相对位置：body和html的顶部有莫名空隙 */
body {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0000;
}

#root {
  height: calc(100% - 2 * var(--root-shadow));
  width: calc(100% - 2 * var(--root-shadow));
  margin: var(--root-shadow);
  box-shadow: 0 0 var(--root-shadow) var(--color-different-general);

  border-radius: var(--root-shadow);
  background-color: var(--color-common-general);
}

.common-color {
  color: var(--color-frame-inner);
  background-color: var(--color-frame-outer);
}

.common-box {
  margin: 4px;
  padding: 0 4px;

  font-weight: bold;
}

.radian-box {
  margin: 4px;
  padding: 0 4px;
  
  border-radius: 8px;
  box-shadow: 0 0 4px var(--color-different-general);
}

.big-box {
  padding: 4px !important;
}

.inputable {
  margin: 4px;
  padding: 0 4px;
  border-radius: 8px;

  outline: none;
  border: none;
}

.inputable:focus {
  box-shadow: 0 0 4px var(--color-different-general) inset;
}

.activable-button {
  margin: 4px;
  padding: 0 4px;
  border-radius: 8px;

  font-weight: bold;

  cursor: pointer;

  box-shadow: 0 0 4px var(--color-different-general);
}

.activable-button:hover {
  box-shadow: 0 0 4px var(--color-different-magical);
}

.activable-button:active {
  box-shadow: 0 0 4px var(--color-different-general) inset;
}

.activable-text {
  margin: 4px;
  padding: 0 4px;

  font-weight: bold;

  cursor: pointer;
}

.activable-text:hover {
  text-shadow: 0 0 8px var(--color-different-general);
}

.activable-text:active {
  text-shadow: 0 0 8px var(--color-different-magical);
}