:root {
  --color-comm-general: #f3f3f3;
  --color-comm-magical: #e0e0e0;
  --color-diff-general: #8b8b8b;
  --color-diff-magical: #606060;
  --color-comm: #fff;
  --color-diff: #000;

  --color-hover-back: #f9ffff;
  --color-hover-front: #003fdd;
  --color-hover-inner: #0080ff;
  --color-hover-outer: #ffafef;

  --color-active-back: #003000;
  --color-active-front: #ffea60;
  --color-active-inner: #fff696;
  --color-active-outer: #ff8000;
}

/*滚动条整体样式*/
::-webkit-scrollbar {
  display: block;
  width: 8px;
  height: 8px;
}

/*滚动条的滑块*/
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: gray;
}

::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}

/*滚动条的轨道*/
::-webkit-scrollbar-track {
  border-radius: 4px;
  background: lightgray;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0000;
}

/* 宽高与margin&padding相关 圆角与padding相关 阴影与margin相关 均有略微调整 */
#root {
  position: relative;
  top: 0;
  left: 0;

  height: calc(100% - 40px);
  width: calc(100% - 40px);
  margin: 16px;
  padding: 4px 0;
  border-radius: 8px;
  box-shadow: 0 0 12px gray;
  background-color: var(--color-comm-general);
}

/* public style */

.a-btn {
  margin: 4px;
  padding: .2rem 1rem;
  border-radius: 8px;

  font-weight: bold;
  cursor: pointer;
  background-color: var(--color-comm);
  box-shadow: 0 0 4px var(--color-diff-general);
}

.a-btn:hover {
  box-shadow: 0 0 4px var(--color-diff-magical);
}

.a-btn:active {
  box-shadow: 0 0 4px var(--color-diff-general) inset;
}

.a-txt {
  margin: 4px;
  padding: 4px;

  font-weight: bold;

  cursor: pointer;
}

.a-txt-diff {
  font-style: italic;
  text-decoration: underline;
}

.a-txt:hover {
  text-shadow: 0 0 8px var(--color-diff-general);
}

.a-txt:active {
  text-shadow: 0 0 8px var(--color-diff-magical);
}