:root {
  --color-light: #f3f3f3;
  --color-light-active: #e0e0e0;
  --color-dark: #8b8b8b;
  --color-dark-active: #606060;
  --color-outer: #fff;
  --color-inner: #000;
}

/*滚动条整体样式*/
::-webkit-scrollbar {
  display: block;
  width: 8px;
  height: 8px;
}

/*滚动条的滑块*/
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--color-dark);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-active);
}

/*滚动条的轨道*/
::-webkit-scrollbar-track {
  background-color: var(--color-light);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  background-color: var(--color-light);
}

.round-box {
  border-radius: 8px;
}

.base-color {
  background-color: var(--color-light);
}

.common-color {
  color: var(--color-inner);
  background-color: var(--color-outer);
}

.common-box {
  user-select: none;
  margin: 4px;
  padding: 4px;
  font-weight: bold;
}

.activable {
  cursor: pointer;
  box-shadow: 0 0 4px var(--color-dark);
}

.activable:hover {
  text-shadow: 0 0 8px var(--color-light-active);
  /* filter: drop-shadow(0 0 2em #747bff); */
}

.activable:active {
  box-shadow: 0 0 4px var(--color-dark) inset;
}

.activable-hide {
  cursor: pointer;
}

.activable-hide:hover {
  text-shadow: 0 0 8px var(--color-dark);
}

.activable-hide:active {
  text-shadow: 0 0 8px var(--color-dark-active);
}

.inputable:focus {
  box-shadow: 0 0 4px var(--color-dark) inset;
}
