.line-hover:hover .title,
.line-hover:hover .action {
    font-weight: bold;
}

.line-hover:hover {
    background-color: var(--color-hover-back);
}

.line-hover:hover .action {
    color: var(--color-hover-front);
    background-color: var(--color-hover-back);
}

.line-hover:hover .action:hover {
    color: var(--color-hover-inner);
    text-shadow: 0 0 4px var(--color-hover-outer);
}

.line-hover:hover .action::before {
    background: linear-gradient(0.25turn, #0000, var(--color-hover-back));
}

.line-hover:hover .title,
.line-hover:hover .detail {
    color: var(--color-hover-front);
}

.line-hover:hover .line-clickable:hover .title,
.line-hover:hover .line-clickable:hover .detail {
    color: var(--color-hover-inner);
    text-shadow: 0 0 4px var(--color-hover-outer);
}

/* 必须至少和icon类的宽度一样 */
.line-hover:hover .icon>img {
    left: calc(-4em + 50%);
    filter: drop-shadow(4em 0 0 var(--color-hover-front));
}

/* 主体和 action 的选中细节不同 */
.line-hover:hover .line-clickable:hover .icon>img {
    filter: drop-shadow(4em 0 0 var(--color-hover-inner)) drop-shadow(0 0 4px var(--color-hover-outer));
}